<h1>Top Rated Pictures</h1>

<div class='container-fluid'>
  <div class='row-fluid'>
    <ul class='unstyled'>
      <% @pictures_top.each do |p| %>
        <li><strong><%= p.title %></strong>, by: <%= p.user.full_name %></li>
          <% if p.url.blank? %>
            <li><%= link_to (image_tag p.image), p %></li>
            <% else %>
            <li><%= link_to (image_tag p.url), p %></li>
          <% end %>
        <li>Votes: <%= p.votes_count %></li>
        <li><%= link_to time_ago_in_words(p.created_at) + ' ago'%></li>
      </br>
      <% end %>
    <ul>
  </div>
</div>